html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.tr-TR span::before {
    content: '';
    background: url("../turkey.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.fr-FR span::before {
    content: '';
    background: url("../france.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.en-US span::before {
    content: '';
    background: url("../britain.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.BirthdayDatePicker .ui-datepicker-year, .BirthdayDatePicker .ui-datepicker-month {
    display: none;
}